*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 100wv;
  height: 100vh;
  display: grid;
  grid-template-areas: "aside main main" "footer footer footer";
  grid-template-rows: auto 50px;
}

body {
  background-color: $color-bg-primary;
}
